<!DOCTYPE html>
<html lang="en">
  {{partial "head.html" .}}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html"}}
    <!-- End Header -->

    <main id="main">{{block "main".}}{{end}}</main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{partial "footer.html"}}
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    {{partial "script.html"}}
  </body>
</html>
