<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>START SMALL PROPERTIES</h3>
            <p>
              A108 Adam Street <br />
              NY 535022, USA<br /><br />
              <strong>Phone:</strong> +1 5589 55488 55<br />
              <strong>Email:</strong> info@example.com<br />
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/meet-our-team">Our Team</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="/blog">Blog</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/terms-of-service/">Terms of service</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/privacy-policy/">Privacy policy</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Investors</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/projects">Projects</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/blog">Press</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/faqs">FAQs</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>
            Tamen quem nulla quae legam multos aute sint culpa legam noster
            magna
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>START SMALL PROPERTIES</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      By using this Site, you are subject to our
      <a href="/privacy-policy">Privacy Policy</a> and our
      <a href="/terms-of-service">Terms of Service</a>. Please read these
      carefully before using the Site.
    </div>
  </div>
</footer>
